1: Create a list called 'years_list', starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [3]:
years_list=[]
birth_year=int(input("enter your YOB: "))
for i in range(6):
    years_list.append(birth_year)
    birth_year+=1
years_list

enter your YOB: 1998

[1998, 1999, 2000, 2001, 2002, 2003]

2: In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [4]:
print("your third birthday",years_list[3])

your third birthday 2001

3: In the years list, which year were you the oldest?

In [5]:
max(years_list)

2003

4: Make a list called 'things' with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [6]:
things=["mozzarella","cinderella","salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

5: Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [7]:
things[1].upper()

'CINDERELLA'

In [8]:
things

['mozzarella', 'cinderella', 'salmonella']

6: Make a list named 'surprise' with the elements "Groucho," "Chico," and "Harpo."

In [10]:
surprise=["Groucho","Chico","Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

7: Lowercase the last element of the list 'surprise', reverse it, and then capitalize it.

In [13]:
element=surprise[-1].lower()
element[::-1].upper()

'OPRAH'

8 Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [14]:
e2f={'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9: Write the French word for walrus in your three-word dictionary e2f.

In [17]:
(list(e2f.values())[2])

'morse'

10: Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [19]:
f2e={}
for val,key in e2f.items():
    f2e[key]=val
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11: Print the English version of the French word chien using f2e.

In [21]:
for val,key in f2e.items():
    print(key)

dog
cat
walrus

12: Make and print a set of English words from the keys in e2f.

In [22]:
list(f2e.values())

['dog', 'cat', 'walrus']

13: Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [23]:
life = {'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'],'octopi': '','emus': '',},
    'plants': '',
    'other': ''
    }
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

14: Print the top-level keys of life.

In [26]:
print("top level keys are :",list(life.keys()))

top level keys are : ['animals', 'plants', 'other']

15: Print the keys for life['animals'].

In [27]:
for key in life["animals"]:
    print(key)

cats
octopi
emus

16: Print the values for life['animals']['cats']

In [28]:
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']